@import '../scss/variables.scss';

.album-card {
    width: 15rem;
    max-height: 20rem;
    margin: 1rem;
    text-decoration: none;
    color: white;
    text-align: left;
    
    .card-body{
        margin: .5rem 0rem ;
    }

    .card-title {
        width: 14rem;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-subtitle{
        font-size: .8rem;
        font-weight: 500;
        color: gray;
    }
}

.album-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}